In [ ]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("/content/dirty_cafe_sales.csv")

In [ ]:
data.head()   #visualizing some data rows

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [ ]:
data.describe(include ='all')  #description of data

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9667,9862,9821,9827,7421,6735,9841
unique,10000,10,7,8,19,5,4,367
top,TXN_9226047,Juice,5,3.0,6.0,Digital Wallet,Takeaway,UNKNOWN
freq,1,1171,2013,2429,979,2291,3022,159

# **Problems in the dataset:**
"Total Spent" column has non-numeric values like "ERROR".

"Payment Method" contains invalid entries like "UNKNOWN".

"Location" also has "UNKNOWN" values.

Data types may need to be fixed (e.g., dates).

Extra spaces in column names.

# ANALYSIS

In [ ]:
# finding missing values
data.isnull().sum()

Transaction ID         0
Item                 333
Quantity             138
Price Per Unit       179
Total Spent          173
Payment Method      2579
Location            3265
Transaction Date     159
dtype: int64

In [ ]:
# finding duplicates
data.duplicated().sum()

np.int64(0)

there are many missing values but no duplicated value

In [ ]:
data.dtypes

Transaction ID      object
Item                object
Quantity            object
Price Per Unit      object
Total Spent         object
Payment Method      object
Location            object
Transaction Date    object
dtype: object

all the columns have same data type which is "object" which is wrong

# data cleaning

In [ ]:
# stripping spaces from column names
data.columns = data.columns.str.strip()

In [ ]:
# Convert Total Spent to numeric and fix errors
data['Total Spent'] = pd.to_numeric(data['Total Spent'], errors='coerce')

In [ ]:
# Drop or fix rows with missing Total Spent
data.dropna(subset=['Total Spent'],inplace=True)

In [ ]:
#Standardize Payment Method and Location
# Replace UNKNOWN with NaN
data['Payment Method'] = data['Payment Method'].replace('UNKNOWN', pd.NA)
data['Location'] = data['Location'].replace('UNKNOWN', pd.NA)

In [ ]:
# delete other null values
data.dropna(inplace=True)

In [ ]:
# Convert Transaction Date to datetime
data['Transaction Date'] = pd.to_datetime(data['Transaction Date'], errors='coerce')

### FINAL **CHECK**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7959 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    7959 non-null   object
 1   Item              7959 non-null   object
 2   Quantity          7959 non-null   object
 3   Price Per Unit    7959 non-null   object
 4   Total Spent       7959 non-null   float64
 5   Payment Method    7959 non-null   object
 6   Location          7959 non-null   object
 7   Transaction Date  7959 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 559.6+ KB

In [ ]:
data.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11
5,TXN_2602893,Smoothie,5,4.0,20.0,Credit Card,Takeaway,2023-03-31
6,TXN_4433211,UNKNOWN,3,3.0,9.0,ERROR,Takeaway,2023-10-06

In [ ]:
data.dtypes

Transaction ID              object
Item                        object
Quantity                    object
Price Per Unit              object
Total Spent                float64
Payment Method              object
Location                    object
Transaction Date    datetime64[ns]
dtype: object

In [ ]:
data.isnull().sum()

Transaction ID      0
Item                0
Quantity            0
Price Per Unit      0
Total Spent         0
Payment Method      0
Location            0
Transaction Date    0
dtype: int64

In [ ]:
# uploading cleaned data to as new dataset
cleaned_data = data.to_csv('cleaned_data.csv', index=False)